auth_info
node_modules/

# Dados de usuários e níveis
levels_info/
aura_info/

# Dados sensíveis da aplicação
data/auth/
data/amigoSecreto/
data/mentions/
data/backups/
data/praised.json

# Ignorar todos os tipos pesados
*.mp3
*.webm
*.avi
*.mov
*.flv
*.wav
*.m4a
*.ogg
*.wma

# Exceto .mp3 na pasta assets
!assets/
!assets/*.mp3

# Variáveis de ambiente e logs
*.env
.env*
*.log

# Arquivos de sessão do WhatsApp
*.db
*.db-shm
*.db-wal
*.txt
